<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2.css" %}" />
  </head>
  <body>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
      <div class="navigation-wrap">
      <div id="imglogo"></div>
      </div>
      <div class="w-nav-overlay" data-wf-ignore="">
      </div>
    </div>
    <br><br><br><br>
    <h1>
      Please return to the previous page and enter the information correctly.
    </h1>
  </body>
</html>