<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2andcssandbusinessMini.css" %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{% static "js/FAQMini.js" %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Iris Documents provides an easy to use application to complete your company's agreements and contracts using preset templates and work queues." />
<meta property="og:title" content="Iris Documents - Free Document Signing Services" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://irisdocuments.com/" />
<meta property="og:image" content="https://iris1-static.s3.amazonaws.com/static/stylesheets/images/datamap.jpg" />
<title>Iris Documents - Free Document Signing Services</title>
<link rel="canonical" href="https://irisdocuments.com/FAQ/">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K8DNWY5SD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K8DNWY5SD');
</script>


<body>

<div class="navigation-wrap" style="margin-top: 2%;">
<div id="imglogo" style="margin-left: 3%;"></div>
<div class="menu">
<nav role="navigation" class="navigation-items w-nav-menu">
<a href="/" class="navigation-item w-nav-link">Home Page</a>
</nav>
</div>
</div>

<div id="SubmitTicket" style="width: 30%;height: 5%;font-family: 'Times New Roman', Times, serif;font-size: xx-large;font-weight: bold;margin-left: 35%;margin-right: 35%;margin-top: 5%;margin-bottom: 5%;text-align: center;">
Frequently Asked Questions
</div>


<div id="TextContent" style="width: 66%; height: 66%;margin-left: 17%;margin-right: 17%;">

    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="1">How can I add a signature?</div>
        <div id="FAQText1" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            To add a signature, simply head to your <a href="/UserDashboard/" style="display:inline-block;">User Dashboard</a>
            and select the option 'Change Your Signature' from the menu.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="2">How can I attach a file to a document?</div>
        <div id="FAQText2" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            In order to attach a file to send with a document, a user must have the proper
            subscription status. When creating a new document from the User Dashboard,
            enter your information and attach a file in the pop-up prompt.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="3">Who can see the documents I send?</div>
        <div id="FAQText3" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            Documents you send are limited the users added to the document as well as any
            administators who have added you to their company.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="4">How many users can I add to a document?</div>
        <div id="FAQText4" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            You can add up to 25 users to any document.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="5">How can I download an audit trail for my document?</div>
        <div id="FAQText5" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            Once all actions are completed and the document has been signed, a green check mark will appear 
            next to the title of the document in your User Dashboard. Click on the title of the document to view 
            the new document. A link to download the document's audit is shown above the document.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="6">How can I set a document to be automatically sent at a certain time?</div>
        <div id="FAQText6" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            After creating a new document to be sent, uncheck the box "Send Now". Select a date and time 
            up to a year from now at which the document will be sent.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="7">How can I set notifications to remind me when to review a document?</div>
        <div id="FAQText7" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
        After creating a new document, check the box asking if you would like notifications to be sent to your email.
        </div>
    </div>
    <div class="FAQEntry">
        <div class="FAQArrow"></div><div class="FAQTitle" id="8">How can I use a template that someone else in my company has created?</div>
        <div id="FAQText8" style="display: none;margin-top: 2%;margin-bottom: 2%;padding-left: 1%;padding-right: 1%;">
            Select 'Company Dashboard' from the top right of your User Dashboard. 
            Then select 'Templates' from the top right of the Company Dashboard.
            Select the template you would like to import into your local templates.
        </div>
    </div>
    
</div>

</body>

</html>