<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2andcssandbusinessMini.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "stylesheets/FreeForSignersMini.css" %}" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Iris Documents provides an easy to use application to complete your company's agreements and contracts using preset templates and work queues." />
<meta property="og:title" content="Iris Documents - Free Document Signing Services" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://irisdocuments.com/" />
<meta property="og:image" content="https://iris1-static.s3.amazonaws.com/static/stylesheets/images/datamap.jpg" />
<title>Iris Documents - Free Document Signing Services</title>
<link rel="canonical" href="https://irisdocuments.com/FreeForSigners/">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K8DNWY5SD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K8DNWY5SD');
</script>


<body>

<div class="navigation-wrap" style="margin-top: 2%;">
<div id="imglogo" style="margin-left: 3%;"></div>
<div class="menu">
<nav role="navigation" class="navigation-items w-nav-menu">
<a href="/" class="navigation-item w-nav-link">Home Page</a>
</nav>
</div>
</div>

<div id="SubmitTicket" style="width: 30%;height: 5%;font-family: 'Times New Roman', Times, serif;font-size: xx-large;font-weight: bold;margin-left: 35%;margin-right: 35%;margin-top: 5%;margin-bottom: 5%;text-align: center;">
Free for Signers
</div>


<div id="TextContent" style="width: 66%; height: 66%;margin-left: 17%;margin-right: 17%;">
Signing documents with Iris Documents is easy and simple, best of all, its free! Follow the step-by-step instructions below to get started.
<br>
<ol>
<li>
If you were added to an existing Iris Document, then you should have received an email. If this applies to you, skip to the next step.
Otherwise, click this <a href="/CreateAccount/" style="display:inline-block;">link</a> to create a new account. Hold the CTRL button while clicking the link to open a new tab.
</li>

<li>
Check your email to finish your registration.
</li>

<li>
Finish your registration to see your new User Dashboard. This is where you can send new documents,
create new templates, change your signature, and monitor your inbox.
</li>

<li>
To begin signing documents, your account needs to add a signature. Select the option 'Change Your Signature' from the menu.
</li>
<div id="img1"></div>

<li>
Draw your signature in the pop-up window and click the button 'Save Signature'.
</li>
<div id="img2"></div>

You are now ready to sign new documents. When a new document is received, your User Dashboard's 'Received' inbox will appear with the icon "New".
Follow the link from your Iris Documents inbox, or visit your email, to see the document sent to you and add your signature where it has been marked.

</ol>
</div>

</body>

</html>