<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2andcssandbusinessMini.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "stylesheets/TutorialsMini.css" %}" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Iris Documents provides an easy to use application to complete your company's agreements and contracts using preset templates and work queues." />
<meta property="og:title" content="Iris Documents - Free Document Signing Services" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://irisdocuments.com/" />
<meta property="og:image" content="https://iris1-static.s3.amazonaws.com/static/stylesheets/images/datamap.jpg" />
<title>Iris Documents - Free Document Signing Services</title>
<link rel="canonical" href="https://irisdocuments.com/GettingStarted/">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K8DNWY5SD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K8DNWY5SD');
</script>


<body>

<div class="navigation-wrap" style="margin-top: 2%;">
<div id="imglogo" style="margin-left: 3%;"></div>
<div class="menu">
<nav role="navigation" class="navigation-items w-nav-menu">
<a href="/" class="navigation-item w-nav-link">Home Page</a>
</nav>
</div>
</div>

<div id="SubmitTicket">
Getting Started
</div>


<div id="TextContent" style="width: 66%; height: 66%;margin-left: 17%;margin-right: 17%;">
<div style="text-align: center;">
Getting started with Iris Documents is easy and simple. Click this <a href="/CreateAccount/">link</a> to create your new account.
</div>
<br>
Follow the registration link from your email to see your new User Dashboard. This is where you can send new documents,
create new templates, change your signature, and monitor your inbox.
<ul>
<li>
To begin signing documents sent to this account, select the option 'Change Your Signature' from the menu. 
When a new document is received, you will be notified on your User Dashboard menu.
</li>
<li>
To begin sending documents or creating templates your account needs to add a Subcription.
Select the option 'Settings and Subscription' from the menu.
</li>

<li>
Select 'Wallet' from the menu list. Add your billing information and address.
</li>

<li>
Next, select 'Manage Subscription' from the menu list. View the details of each subscription and select which one you would like.
If you are looking to create a new company subscription, return to the User Dashboard screen to access the Company Dashboard.
</li>
</ul>

Your account is now ready to send documents. View our tutorial for sending documents <a href="/TutorialDocumentSending/">here</a>, or view our tutorial
for creating new templates <a href="/TutorialTemplateCreation/">here</a>.(requires necessary subscription)
</div>

</body>

</html>