<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/css.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/business-starter-template.css" %}" />
    <script src="{% static "js/jquery-3.js" %}"></script>
    <script src="{% static "js/webflow.js" %}"></script>
    <script src="{% static "js/webfont.js" %}"></script>
</head>

<body>
{% if user.is_superuser %}
<div class="navigation-wrap" style="margin-top: 2%;">
  <div id="imglogo" style="margin-left: 3%;"></div>
  <div class="menu">
  <nav role="navigation" class="navigation-items w-nav-menu">
  <a href="/admin/Map/" class="navigation-item w-nav-link">Map</a>
  <a href="/admin/ManageDatabase/" class="navigation-item w-nav-link">Database</a>
  <a href="/admin/Support/1/" class="navigation-item w-nav-link">Support</a>
  </nav>
  </div>
</div>

{% else %}
<div class="navigation-wrap" style="margin-top: 2%;">
  <div id="imglogo" style="margin-left: 3%;"></div>
  <div class="menu">
  <nav role="navigation" class="navigation-items w-nav-menu">
  <a href="/" class="navigation-item w-nav-link">Back To Home</a>
  </nav>
  </div>
</div>
{% endif %}


</body>
</html>