<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>
        {% load static %}
        <link rel="stylesheet" href="{% static "stylesheets/SettingsMini.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2andcssandbusinessMini.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "stylesheets/PlansAndPricingMini.css" %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="{% static "js/SettingsMini.js" %}"></script>
    
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Iris Documents provides an easy to use application to complete your company's agreements and contracts using preset templates and work queues." />
        <meta property="og:title" content="Iris Documents - Free Document Signing Services" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://irisdocuments.com/" />
        <meta property="og:image" content="https://iris1-static.s3.amazonaws.com/static/stylesheets/images/datamap.jpg" />
        <title>Iris Documents - Free Document Signing Services</title>
        <link rel="canonical" href="https://irisdocuments.com/PlansAndPricing/">

    </head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K8DNWY5SD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K8DNWY5SD');
</script>


    <body>

        <div class="navigation-wrap" style="margin-top: 2%;">
            <div id="imglogo" style="margin-left: 3%;"></div>
            <div class="menu">
            <nav role="navigation" class="navigation-items w-nav-menu">
            <a href="/" class="navigation-item w-nav-link">Home Page</a>
            </nav>
            </div>
        </div>

        <div id="View">

            <div id="ViewPanel">

                <div id="ManageSubscriptionView">
                
                    <a href="/UserDashboard/AddPersonalSub/">
                    <div id="PersonalSub1" class="subscriptions">

                        <div class="subscriptionimg" id="SubPersonalLite"></div>
                        <div class="info">
                            <div class="infoEntry">
                                Send up to 10 documents per month.
                            </div>
                            <div class="infoEntry">
                                Create up to 5 templates.
                            </div>
                            <div class="infoEntry">
                                Real-time audits for each document sent and signed.
                            </div>
                            <div class="infoEntry">
                                Automate work by queueing documents to be sent at a later date and time.
                            </div>
                            <div class="infoEntryBottom">
                                Automate reminders and notifications.
                            </div>
                        </div>

                    </div>
                    </a>

                    <a href="/UserDashboard/AddPersonalSub/">
                    <div id="PersonalSub2" class="subscriptions">

                        <div class="subscriptionimg" id="SubPersonal"></div>
                        <div class="info">
                            <div class="infoEntry">
                                Send an unlimited amount of documents per month.
                            </div>
                            <div class="infoEntry">
                                Create up to 10 templates.
                            </div>
                            <div class="infoEntry">
                                Real-time audits for each document sent and signed.
                            </div>
                            <div class="infoEntry">
                                Automate work by queueing documents to be sent at a later date and time.
                            </div>
                            <div class="infoEntry">
                                Automate reminders and notifications.
                            </div>
                            <div class="infoEntryBottom">
                                Custom logo branding.
                            </div>
                        </div>

                    </div>
                    </a> 

                    <a href="/UserDashboard/AddPersonalSub/">
                    <div id="PersonalSub3" class="subscriptions">

                        <div class="subscriptionimg" id="SubPersonalPro"></div>
                        <div class="info">
                            <div class="infoEntry">
                                Send an unlimited amount of documents per month.
                            </div>
                            <div class="infoEntry">
                                Create up to 20 templates.
                            </div>
                            <div class="infoEntry">
                                Real-time audits for each document sent and signed.
                            </div>
                            <div class="infoEntry">
                                Automate work by queueing documents to be sent at a later date and time.
                            </div>
                            <div class="infoEntry">
                                Automate reminders and notifications.
                            </div>
                            <div class="infoEntry">
                                Custom logo branding.
                            </div>
                            <div class="infoEntryBottom">
                                Send file attachments with each document.
                            </div>
                        </div>

                    </div>
                    </a>

                </div>

            </div>

            <a href="#ViewPanelBusiness" class="navigation-item w-nav-link" style="margin-left: 42%;">
                Scroll Down To Business Options
            </a>

            <div id="ViewPanelBusiness">

                <div id="ManageSubscriptionView">

                <a href="/UserDashboard/AddBusinessSub/">
                <div id="BusinessSub1" class="subscriptions">
                    <div class="subscriptionimg" id="SubBusinessLite"></div>
                    <div class="info">
                        <div class="infoEntry">
                            Accommodate 50 members with lite subscription features.
                        </div>
                        <div class="infoEntry">
                            Send an unlimited amount of documents per month.
                        </div>
                        <div class="infoEntry">
                            Store up to 20 templates from members.
                        </div>
                        <div class="infoEntry">
                            Members have access to - Real-time audits for each document sent and signed.
                        </div>
                        <div class="infoEntry">
                            Members are able to - Automate work by queueing documents to be sent at a later date and time.
                        </div>
                        <div class="infoEntryBottom">
                            Members are able to - Automate reminders and notifications.
                        </div>
                    </div>
                </div>
                </a>

                <a href="/UserDashboard/AddBusinessSub/">
                <div id="BusinessSub2" class="subscriptions">
                <div class="subscriptionimg" id="SubBusiness"></div>
                <div class="info">
                    <div class="infoEntry">
                        Accommodate 100 members with basic subscription features.
                    </div>
                    <div class="infoEntry">
                        Send an unlimited amount of documents per month.
                    </div>
                    <div class="infoEntry">
                        Store up to 50 templates from members.
                    </div>
                    <div class="infoEntry">
                        Members have access to - Real-time audits for each document sent and signed.
                    </div>
                    <div class="infoEntry">
                        Members are able to - Automate work by queueing documents to be sent at a later date and time.
                    </div>
                    <div class="infoEntry">
                        Members are able to - Automate reminders and notifications.
                    </div>
                    <div class="infoEntryBottom">
                        Members have access to - Custom logo branding.
                    </div>
                </div>
                </div>
                </a>

                <a href="/UserDashboard/AddBusinessSub/">
                <div id="BusinessSub3" class="subscriptions">

                    <div class="subscriptionimg" id="SubBusinessPro"></div>
                    <div class="info">
                        <div class="infoEntry">
                            Accommodate 250 members with pro subscription features.
                        </div>
                        <div class="infoEntry">
                            Send an unlimited amount of documents per month.
                        </div>
                        <div class="infoEntry">
                            Store up to 100 templates from members.
                        </div>
                        <div class="infoEntry">
                            Members have access to - Real-time audits for each document sent and signed.
                        </div>
                        <div class="infoEntry">
                            Members are able to - Automate work by queueing documents to be sent at a later date and time.
                        </div>
                        <div class="infoEntry">
                            Members are able to - Automate reminders and notifications.
                        </div>
                        <div class="infoEntry">
                            Members have access to - Custom logo branding.
                        </div>
                        <div class="infoEntryBottom">
                            Members are able to - Send file attachments with each document.
                        </div>
                    </div>

                </div>
                </a>

                </div>

            </div>

        </div>

    </body>

</html>