<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "stylesheets/Homev2andcssandbusinessMini.css" %}" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Iris Documents provides an easy to use application to complete your company's agreements and contracts using preset templates and work queues." />
<meta property="og:title" content="Iris Documents - Free Document Signing Services" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://irisdocuments.com/" />
<meta property="og:image" content="https://iris1-static.s3.amazonaws.com/static/stylesheets/images/datamap.jpg" />
<title>Iris Documents - Free Document Signing Services</title>
<link rel="canonical" href="https://irisdocuments.com/TutorialTemplateCreation/">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K8DNWY5SD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K8DNWY5SD');
</script>


<body>

<div class="navigation-wrap" style="margin-top: 2%;">
<div id="imglogo" style="margin-left: 3%;"></div>
<div class="menu">
<nav role="navigation" class="navigation-items w-nav-menu">
<a href="/" class="navigation-item w-nav-link">Home Page</a>
</nav>
</div>
</div>

<div id="SubmitTicket" style="width: 30%;height: 5%;font-family: 'Times New Roman', Times, serif;font-size: xx-large;font-weight: bold;margin-left: 35%;margin-right: 35%;margin-top: 5%;margin-bottom: 5%;text-align: center;">
Creating Your First Template
</div>


<div id="TextContent" style="width: 66%; height: 66%;margin-left: 17%;margin-right: 17%;">
Creating templates with Iris Documents is easy and simple, follow the step-by-step instructions below to get started.

1. Login and access the <a href="/UserDashboard/">User Dashboard</a>.

2. Select the option 'New Template' from the menu.
<div id="img1"></div>

3. Enter a new title for this template in the pop-up window. This title will be used to access this template by you as well as any members
that may be a part of your company. Select a PDF file to create the document from, then hit the 'Create Template' button.
<div id="img2"></div>

4. Check the template preview and click the 'Add User' button to begin adding example template users. For each template user added,
a permission and/or signature location will be recorded, similar to the creation of a new document. Decide on the number of users
you would like to view, sign, or edit this document. When the document is created from this template, you will simply define the 
name and email for each user added, and the permission and signature locations will be added accordingly.
<sub>
Permissions:
<ul>
    <li>View - Allows a user to view a document only.</li>
    <li>Sign - Allows a user to view and sign a document.</li>
    <li>Edit - Allows a user to view and edit a document.</li>
</ul>
</sub>
<div id="img3"></div>

5. Once all users have been added(with each checkmark clicked), click 'Continue' at the top of the page.
<div id="img4"></div>

6. Use the template editor to define locations for new signatures and text boxes. Click on the button with the name of the user
to add a signature for that user. Click on the 'Add Text' button to add text to the page. Click the 'Next' or 'Last' buttons to 
access different pages of the template.

7. When you are finished editing the template, hit the 'Save Template' button at the top of the page.
</div>

</body>

</html>